.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#header {
    background-color: #009879;
    color: #ffffff;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    padding: 10px;
}

#container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#nav {
	width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#nav a {
	text-decoration: none;
}

.button {
	color: white;
	background-color: #009879;
	width: 150px;
	padding: 7px;
	border-radius: 5px;
}

.button:hover {
	background-color: #008768;
}